footer {position: fixed;bottom: 0;background-color: #00FF00;height: 60px;width: 100%;}

footer p {
    text-align: center;
    color: white;
    line-height: 60px;
    margin: 20px;
    padding: 0;
}
