header {
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-color: #ffffff;
	display: flex;
	align-items: center;
}

.logo {
	background: url('../images/logo.png') no-repeat center;
	height: 60px;
	width: 142px;
	padding-left: 20px;
}
